<!DOCTYPE html>

<!--
Joyce Lin, Evan Khosh, Sean Zheng, Zixi Qiao
PIES
SoftDev
P01 -- ArRESTed Development
TBD
-->

<html>

<head>
  <title> CHRIVIA </title>

  <!-- CUSTOM CSS -->
  <link rel="stylesheet"
    type="text/css"
    href="/static/css/style.css">

  <!-- BOOTSTRAP CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
    crossorigin="anonymous">

  <!-- PAGE SPECIFIC CSS -->
  <style>
    /* BOARD IMAGE */
    .board {
      position: absolute;
      z-index: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width:clamp(200px, 1000px,1000px);
      height:auto;
    }

    /* GRID STYLING */
    #images, #buttons, #glow {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50.5%);

      width: clamp(100px, 500px,500px);
      height: clamp(100px, 500px,500px);
    }

    .row {
      height: 12.52%;
    }

    .col {
        width: clamp(10px, 50px,50px);
      height: 100%;
    }

    /* Z INDEXES */
    #glow {
      z-index: 1;
    }

    #images {
      z-index: 2;
    }

    #buttons {
      z-index: 3;
    }

    /* IMAGES GRID */
    .piece {
      width: 100px;
      height: auto;
      overflow: hidden;

      margin-left: -27px;
      margin-top: -25px;
    }

    /* BUTTONS GRID */
    button {
      position: absolute;
      z-index: 2;
      margin-left: -12px;
      background: none;
      border-style: none;

      width: clamp(10px, 61px,61px);
      height: 12.52%;
    }
  </style>
</head>

<body style="background-color:#D1C0A8; overflow:hidden">
  <!-- BOARD -->
  <div class="container" id="main">
    <!-- IMAGE -->
    <image src="/static/images/board.png" class="board">

      <!-- GLOW GRID -->
      <div id="glow" class="container">
        {% set gridlabel = ['a','b','c','d','e','f','g','h'] %}
        {% for ROW in board %}
          <div class="row">
            {% set index = loop.index0 %}
            {% for COL in ROW %}
              <div class="col glow {{ gridlabel[loop.index0] }}{{ index }}">
                <p></p>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- IMAGE GRID -->
    <div id="images" class="container">
      {% set pieces = ['rook', 'knight', 'bishop', 'queen', 'king','pawn'] %}
      {% set gridlabel = ['a','b','c','d','e','f','g','h'] %}
      {% for ROW in board %}
        <div class="row">
          {% set index = loop.index0 %}
          {% for COL in ROW %}
            <div class="col image {{ gridlabel[loop.index0] }}{{ index }}">
              {% if COL < 0 %}
                <img class="center black piece {{ pieces[COL|abs - 1] }}"
                      src="/static/sprites/black/{{ pieces[COL|abs - 1] }}/idle.png"
                      alt="{{ pieces[COL|abs - 1] }}">
              {% elif COL > 0 %}
                <img class="center white piece {{ pieces[COL|abs - 1] }}"
                      src="/static/sprites/white/{{ pieces[COL - 1] }}/idle.png"
                      alt="{{ pieces[COL - 1]}}">
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <!-- BUTTON GRID -->
    <div id="buttons" class="container">
      {% set gridlabel = ['a','b','c','d','e','f','g','h'] %}
      {% for ROW in board %}
        <div class="row">
          {% set index = loop.index0 %}
          {% for COL in ROW %}
            <div class="col {{ gridlabel[loop.index0] }}{{ index }}">
              <button onclick="select(this.parentElement.className.split(' ')[1])"> </button>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- BOOTSTRAP JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"> </script>

  <!-- PAGE-SPECIFIC JS -->
  <script>
    var selected = null;
    var validMoves = null;
    var moving = false;

    var stopMove = function(delay, sprite, classes) {
      setTimeout(function() {
          moving = false;
          sprite.src = '/static/sprites/' + classes[1] + '/' + classes[3] + '/idle.png';
          sprite.parentNode.removeChild(sprite);
          selected = null;
          spinBoard();
          setTimeout(resetBoard(), 2000);
        }, delay
      );
    }

    var select = function(position) {
      let xhttp = new XMLHttpRequest();

      if (selected != null && validMoves != null) {
        if (validMoves.includes(position)) {
          xhttp.open('POST', window.location.href, true);
          xhttp.setRequestHeader("move", selected.className.split(" ")[2] + "+" + position);
          xhttp.send();

          moving = true;
          unhighlightLegalSquares(validMoves);

          let board = document.getElementById('buttons');
          let square = document.getElementsByClassName(position)[1];
          let takenPiece = square.querySelector("." + square.className.split(" ")[1] + " img");
          if (takenPiece == null) {
            takenPiece = square.appendChild(document.createElement('img'));
            takenPiece.src = "/static/sprites/white/rook/idle.png";
            takenPiece.className = 'center piece';
            takenPiece.style.opacity = '0';
          }

          let sprite = selected.querySelector("." + selected.className.split(" ")[1] + " img");
          let classnames = sprite.className.split(" ");

          let currentPos = sprite.getBoundingClientRect();
          let newPos = takenPiece.getBoundingClientRect();

          let areaOfBoard = board.offsetWidth * board.offsetHeight;
          let translationX = newPos.left - currentPos.left;
          let translationY = newPos.top - currentPos.top;
          let distance = Math.sqrt(Math.pow(translationX,2) + Math.pow(translationY,2));

          let animTime = 1100 * (1 - distance/areaOfBoard);

          sprite.src = '/static/sprites/' + classnames[1] + '/' + classnames[3] + '/walk.gif';
          let anim = sprite.animate(
            [{transform: 'translate(0, 0)'}, {transform: 'translate(' + translationX + 'px, ' + translationY + 'px)'}],
            {
             duration: animTime,
             iterations: 1,
             easing: 'linear',
             fill: 'forwards',
           },
          );

          anim.play()

          setTimeout(function() {
            takePiece(square.querySelector("." + square.className.split(" ")[1] + " img"))
          },
            animTime);

          stopMove(animTime, sprite, classnames);
        } else if (!moving) {
        let prev = selected.querySelector("." + selected.className.split(" ")[1] + " img");
        let classnames = prev.className.split(" ");

        unhighlightLegalSquares(validMoves);
        prev.src = '/static/sprites/' + classnames[1] + '/' + classnames[3] + '/idle.png';
        }
      }
      if (!moving) {
        xhttp.open('POST', window.location.href, true);
        xhttp.setRequestHeader("select", position);
        xhttp.send();

        let piece = document.getElementsByClassName(position)[1];
        selected = piece;
        let sprite = piece.querySelector("." + piece.className.split(" ")[1] + " img");

        if (sprite != null) {
          let classnames = sprite.className.split(" ");
          if ("{{ player }}" == classnames[1]) {
            sprite.src = '/static/sprites/' + classnames[1] + '/' + classnames[3] + '/select.gif';
            // checks if xhttp request is done and there were no errors (200 -- ok request) !!
            xhttp.onload = function() {
              if (this.readyState == 4 && this.status == 200) {
                validMoves = this.response.split(',');
              }
              highlightLegalSquares(validMoves);
            }
          } else {
            selected = null;
          }
        }
      }
    }

    var takePiece = function(piece) {
      if (piece.style.opacity != '0') {
        let multiplier = [1,-1];
        let randCoordx = (Math.floor(Math.random() * 2000) + 1000) * multiplier[Math.floor(Math.random()*2)];
        let randCoordy = (Math.floor(Math.random() * 2000) + 1000) * multiplier[Math.floor(Math.random()*2)];

        piece.animate(
          [{transform: 'translate(0, 0)'},
            {transform: 'translate(' + randCoordx + 'px, ' + randCoordy + 'px)'}],
          {
           duration: 2000,
           iterations: 1,
           easing: 'linear',
           composite: 'add',
         },
        );

        piece.animate(
          [{transform: 'rotate(0)'}, {transform: 'rotate(360deg)'}],
          {
           duration: 250,
           iterations: 100,
           easing: 'linear',
           composite: 'add',
         },
        );

        setTimeout(function() {
          piece.parentNode.removeChild(piece);
        }, 2000);
      } else {
        piece.parentNode.removeChild(piece);
      }
    }

    var spinBoard = function() {
      board = document.getElementById('main');
      board.style.marginTop = '480px';

      board.animate(
        [{transform: 'rotate(0)'}, {transform: 'rotate(180deg)'}],
        {
          duration: 2000,
          iterations: 1,
          easing: 'ease-out',
        }
      );

      board.style.transform = 'rotate(180deg)';
    }

    var resetBoard = function() {
      let pieces = ['rook', 'knight', 'bishop', 'queen', 'king','pawn'];
      let gridlabel = ['a','b','c','d','e','f','g','h'];

      let childs = document.getElementById('images').children;
      let board = {{ board }};
      let gridrow = 0;

      for (row of board) {
        let squares = childs[gridrow].children;
        for (let col = 0; col < row.length; col++) {
          let image = squares[col].querySelector("." + squares[col].className.split(" ")[1] + " img");

          if (image == null && row[col] != 0) {
            console.log('bb');
            let color;
            let newChild = squares[col].appendChild(document.createElement('img'));
            let type = pieces[Math.abs(row[col]) - 1];

            if (row[col] < 0) { color = 'black' };
            if (row[col] > 0) { color = 'white' };

            newChild.className = "center " + color + " piece " + type;
            newChild.src = '/static/sprites/' + color + '/' + type + '/idle.png';
            newChild.alt = type;
          }
        }
        gridrow++;
      }
    }

    var highlightLegalSquares = function(arr) {
      let xhttp = new XMLHttpRequest();
      xhttp.open('GET', window.location.href, true);
      xhttp.send();
      for (square of arr) {
        if (square != '') {
          document.getElementsByClassName('col glow ' + square)[0].style.backgroundColor = 'rgba(100, 149, 237, 0.5)';
        }
      }
    }

    var unhighlightLegalSquares = function(arr) {
      validMoves = null;
      for (square of arr) {
        document.getElementsByClassName('col glow ' + square)[0].style.backgroundColor = 'rgba(100, 149, 237, 0)';
      }
    }
  </script>
</body>

</html>
