<!DOCTYPE html>

<!--
Joyce Lin, Evan Khosh, Sean Zheng, Zixi Qiao
PIES
SoftDev
P01 -- ArRESTed Development
TBD
-->

<html>

<head>
  <title> CHRIVIA </title>

  <!-- CUSTOM CSS -->
  <link rel="stylesheet"
    type="text/css"
    href="/static/css/style.css">

  <!-- BOOTSTRAP CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
    crossorigin="anonymous">

  <!-- PAGE SPECIFIC CSS -->
  <style>
    /* BOARD IMAGE */
    .board {
      position: absolute;
      z-index: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width:clamp(200px, 1000px,1000px);
      height:auto;
    }

    /* GRID STYLING */
    #images, #buttons, #glow {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50.5%);

      width: clamp(100px, 500px,500px);
      height: clamp(100px, 500px,500px);
    }

    .row {
      height: 12.52%;
    }

    .col {
      width: clamp(10px, 50px,50px);
      height: 100%;
    }

    /* Z INDEXES */
    #glow {
      z-index: 1;
    }

    #images {
      z-index: 2;
    }

    #buttons {
      z-index: 3;
    }

    /* IMAGES GRID */
    .piece {
      width: 100px;
      height: auto;
      overflow: hidden;

      margin-left: -27px;
      margin-top: -25px;
    }

    /* BUTTONS GRID */
    button {
      position: absolute;
      z-index: 3;
      margin-left: -12px;
      background: none;
      border-style: none;

      width: clamp(10px, 61px,61px);
      height: 12.52%;
    }

    /* CURTAINS */
    #curtainleft {
      position: absolute;
      z-index: 4;

      background-image: url('/static/images/halfcurtain.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;

      left:-50%;

      width: 50%;
      height: 100%;
    }

    #curtainright {
      position: absolute;
      z-index: 4;

      background-image: url('/static/images/halfcurtain.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;

      right:-50%;

      width: 50%;
      height: 100%;
    }

    /* AUDIO */
    #audio {
      transform: scale(5);
      display: none;
      margin-top: 15px;
      margin-left: 25px;
    }

    #audio:checked + label img {
      content: url("/static/images/audio.png")
    }

    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #triviaOverlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0,0,0,0.6);

      z-index: 1000;

      display: none;  /* hidden by default */
      align-items: center;
      justify-content: center;
    }

    #triviaContent {
      background: #f4f1ea;
      padding: 30px;
      border-radius: 12px;

      width: min(80vw, 500px);
      aspect-ratio: 1 / 1;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      text-align: center;
      overflow: auto;
    }




  </style>
</head>

<body style="background-color:#D1C0A8; overflow:hidden">
  <!-- CURTAINS -->
  <div id='curtainleft'>
    <br>
  </div>

  <div id='curtainright'>
    <br>
  </div>

  <!-- AUDIO -->
  <audio loop id="bgm" src="/static/audio/gameBGM.mp3"> </audio>

  <input type="checkbox" id="audio" onclick="Aud()" style="border-style:none;">
  <label for="audio">
    <img style="width:50px;height:auto;position:absolute;left:5px;top:2px"
      src="/static/images/mute.png">
  </label>

  <!-- BOARD -->
<div class="container">
  <!-- IMAGE -->
  <img src="/static/images/board.png" id="main" class="board">

  <!-- GLOW GRID -->
  <div id="glow" class="container">
    {% set gridlabel = ['a','b','c','d','e','f','g','h'] %}
    {% for ROW in board %}
      <div class="row">
        {% set index = loop.index0 %}
        {% for COL in ROW %}
          <div class="col glow {{ gridlabel[loop.index0] }}{{ index }}">
            <p></p>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <!-- IMAGE GRID -->
  <div id="images" class="container">
    {% set pieces = ['rook', 'knight', 'bishop', 'queen', 'king','pawn'] %}
    {% set gridlabel = ['a','b','c','d','e','f','g','h'] %}
    {% for ROW in board %}
      <div class="row">
        {% set index = loop.index0 %}
        {% for COL in ROW %}
          <div class="col image {{ gridlabel[loop.index0] }}{{ index }}">
            {% if COL < 0 %}
              <img class="center black piece {{ pieces[COL|abs - 1] }}"
                    src="/static/sprites/black/{{ pieces[COL|abs - 1] }}/idle.png"
                    alt="{{ pieces[COL|abs - 1] }}">
            {% elif COL > 0 %}
              <img class="center white piece {{ pieces[COL|abs - 1] }}"
                    src="/static/sprites/white/{{ pieces[COL - 1] }}/idle.png"
                    alt="{{ pieces[COL - 1]}}">
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <!-- BUTTON GRID -->
  <div id="buttons" class="container">
    {% set gridlabel = ['a','b','c','d','e','f','g','h'] %}
    {% for ROW in board %}
      <div class="row">
        {% set index = loop.index0 %}
        {% for COL in ROW %}
          <div class="col {{ gridlabel[loop.index0] }}{{ index }}">
            <button onclick="select(this.parentElement.className.split(' ')[1])"> </button>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>

<!-- TRIVIA OVERLAY -->
<div id="triviaOverlay">
  <div id="triviaContent">
    <h3 id="triviaQuestion"></h3>
    <div id="triviaAnswers"></div>
  </div>
</div>


  <!-- BOOTSTRAP JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"> </script>

  <!-- PAGE-SPECIFIC JS -->
  <script>
    var selected = null;
    var validMoves = null;
    var inCheck = "";
    var moving = false;
    var newBoard = null;
    var turn = {{ turn }};

    var colors = ['black', 'white']

    const triviaQuestions = {{ trivia | tojson }};
    var triviaActive = false;

    window.onload = function() {
      document.getElementById('audio').checked = false;
      if (turn > 1 && turn % 2 != 0) {
        document.getElementById('main').style.transform = "translate(-50%, -50%)";
        document.getElementById('main').src = "/static/images/board.png";
      } else if (turn % 2 == 0) {
        document.getElementById('main').style.transform = "translate(-50%, -50.5%)";
        document.getElementById('main').src = "/static/images/boardflip.png";
      };
    }

    var Aud = function() {
      let bgm = document.getElementById('bgm');
      if (bgm.paused) {
        bgm.play();
      }
      else {
        bgm.pause();
      }
    };

    var stopMove = function(delay, sprite, classes) {
      setTimeout(function() {
          turn = turn + 1;
          sprite.src = '/static/sprites/' + classes[1] + '/' + classes[3] + '/idle.png';
          selected = null;
          curtains(false);

          setTimeout( function() {
            sprite.parentNode.removeChild(sprite);
            resetBoard();

              if (turn > 1 && turn % 2 != 0) {
                document.getElementById('main').style.transform = "translate(-50%, -50%)";
                document.getElementById('main').src = "/static/images/board.png";
              } else if (turn % 2 == 0) {
                document.getElementById('main').style.transform = "translate(-50%, -50.5%)";
                document.getElementById('main').src = "/static/images/boardflip.png";
              };
            }, 1750
          );
          setTimeout( function() {
              curtains(true);
              moving = false;
            }, 1950
          );
        }, delay
      );
    }

    var select = function(position) {
      let xhttp = new XMLHttpRequest();

      if (triviaActive) return;  // ignore clicks while trivia is showing

      if (selected != null && validMoves != null) {
        if (validMoves.includes(position)) {
          xhttp.open('POST', window.location.href, true);
          xhttp.setRequestHeader("move", selected.className.split(" ")[2] + "+" + position);
          xhttp.send();

          showTrivia(triviaQuestions);

          xhttp.onload = function() {
            if (this.readyState == 4 && this.status == 200) {
              newBoard = JSON.parse(this.response);
            }
          }


          moving = true;
          unhighlightLegalSquares(validMoves);

          let board = document.getElementById('buttons');
          let square = document.getElementsByClassName(position)[1];
          let takenPiece = square.querySelector("." + square.className.split(" ")[1] + " img");
          if (takenPiece == null) {
            takenPiece = square.appendChild(document.createElement('img'));
            takenPiece.src = "/static/sprites/white/rook/idle.png";
            takenPiece.className = 'center piece';
            takenPiece.style.opacity = '0';
          }

          let sprite = selected.querySelector("." + selected.className.split(" ")[1] + " img");
          let classnames = sprite.className.split(" ");

          let currentPos = sprite.getBoundingClientRect();
          let newPos = takenPiece.getBoundingClientRect();

          let areaOfBoard = board.offsetWidth * board.offsetHeight;
          let translationX = newPos.left - currentPos.left;
          let translationY = newPos.top - currentPos.top;
          let distance = Math.sqrt(Math.pow(translationX,2) + Math.pow(translationY,2));

          let animTime = 1100 * (1 - distance/areaOfBoard);

          sprite.src = '/static/sprites/' + classnames[1] + '/' + classnames[3] + '/walk.gif';
          let anim = sprite.animate(
            [{transform: 'translate(0, 0)'}, {transform: 'translate(' + translationX + 'px, ' + translationY + 'px)'}],
            {
             duration: animTime,
             iterations: 1,
             easing: 'linear',
             fill: 'forwards',
           },
          );

          anim.play()

          setTimeout(function() {
            takePiece(square.querySelector("." + square.className.split(" ")[1] + " img"))
          },
            animTime);

          stopMove(animTime, sprite, classnames);
        } else if (!moving) {
        let prev = selected.querySelector("." + selected.className.split(" ")[1] + " img");
        let classnames = prev.className.split(" ");

        unhighlightLegalSquares(validMoves);
        prev.src = '/static/sprites/' + classnames[1] + '/' + classnames[3] + '/idle.png';
      }
      }
      if (!moving) {
        xhttp.open('POST', window.location.href, true);
        xhttp.setRequestHeader("select", position);
        xhttp.send();

        let piece = document.getElementsByClassName(position)[1];
        selected = piece;
        let sprite = piece.querySelector("." + piece.className.split(" ")[1] + " img");

        if (sprite != null) {
          let classnames = sprite.className.split(" ");
          if (colors[turn%2] == classnames[1]) {
            sprite.src = '/static/sprites/' + classnames[1] + '/' + classnames[3] + '/select.gif';
            // checks if xhttp request is done and there were no errors (200 -- ok request) !!
            xhttp.onload = function() {
              if (this.readyState == 4 && this.status == 200) {
                validMoves = this.response.split(',');
              }
              highlightLegalSquares(validMoves);
            }
          } else {
            selected = null;
          }
        }
      }
    }

    var takePiece = function(piece) {
      if (piece.style.opacity != '0') {
        let multiplier = [1,-1];
        let randCoordx = (Math.floor(Math.random() * 2000) + 1000) * multiplier[Math.floor(Math.random()*2)];
        let randCoordy = (Math.floor(Math.random() * 2000) + 1000) * multiplier[Math.floor(Math.random()*2)];

        piece.animate(
          [{transform: 'translate(0, 0)'},
            {transform: 'translate(' + randCoordx + 'px, ' + randCoordy + 'px)'}],
          {
           duration: 2000,
           iterations: 1,
           easing: 'linear',
           composite: 'add',
         },
        );

        piece.animate(
          [{transform: 'rotate(0)'}, {transform: 'rotate(360deg)'}],
          {
           duration: 250,
           iterations: 100,
           easing: 'linear',
           composite: 'add',
         },
        );

        setTimeout(function() {
          piece.parentNode.removeChild(piece);
        }, 1750);
      } else {
        piece.parentNode.removeChild(piece);
      }
    }

    var curtains = function(isReversed) {
      let left = document.getElementById('curtainleft');
      let right = document.getElementById('curtainright');
      let winWidth = window.innerWidth/2;

      left.style.display = 'block';
      right.style.display = 'block';

      let leftA = left.animate(
        [{transform: 'translate(0)'}, {transform: 'translate(' + winWidth + 'px)'}],
        {
          duration: 1750,
          iterations: 1,
          easing: 'linear',
          fill: 'forwards',
        }
      );

      let rightA = right.animate(
        [{transform: 'translate(0)'}, {transform: 'translate(-' + winWidth + 'px)'}],
        {
          duration: 1750,
          iterations: 1,
          easing: 'linear',
          fill: 'forwards',
        }
      );

      if (isReversed) {
        leftA.reverse();
        rightA.reverse();

        setTimeout(function() {
          left.style.display = 'none';
          right.style.display = 'none';
        }, 1740);
      } else {
        leftA.play();
        rightA.play();
      }
    }

    var resetBoard = function() {
      let xhttp = new XMLHttpRequest();
      xhttp.open('GET', window.location.href, true);
      xhttp.send();

      let pieces = ['rook', 'knight', 'bishop', 'queen', 'king','pawn'];
      let gridlabel = ['a','b','c','d','e','f','g','h'];

      let childs = document.getElementById('images').children;
      let board = newBoard;
      let gridrow = 0;

      for (row of board) {
        let squares = childs[gridrow].children;
        for (let col = 0; col < row.length; col++) {
          let image = squares[col].querySelector("." + squares[col].className.split(" ")[1] + " img");

          if (image != null) {
            if (row[col] != 0) {
              let classnames = image.className.split(' ');

              if (row[col] < 0) { classnames[1] = 'black' };
              if (row[col] > 0) { classnames[1] = 'white' };

              classnames[3] = pieces[Math.abs(row[col]) - 1];

              image.src = '/static/sprites/' + classnames[1] + '/' + classnames[3] + '/idle.png';
              image.className = classnames.join(' ');
            } else { squares[col].removeChild(image) };
          } else if (row[col] != 0) {
            let color;
            let newChild = squares[col].appendChild(document.createElement('img'));
            let type = pieces[Math.abs(row[col]) - 1];

            if (row[col] < 0) { color = 'black' };
            if (row[col] > 0) { color = 'white' };

            newChild.className = "center " + color + " piece " + type;
            newChild.src = '/static/sprites/' + color + '/' + type + '/idle.png';
            newChild.alt = type;
          }
        }
        gridrow++;
      }

      unhighlightKing(inCheck);
      inCheck = "";

      let xhttpcheck = new XMLHttpRequest();
      xhttpcheck.open('POST', window.location.href, true);
      xhttpcheck.setRequestHeader("check", true);
      xhttpcheck.send();

      // checks if xhttp request is done and there were no errors (200 -- ok request) !!
      xhttpcheck.onload = function() {
        if (this.status == 200) {
          inCheck = this.responseText;
          highlightKing(inCheck);
        }
      }
    }

    var highlightLegalSquares = function(arr) {
      let xhttp = new XMLHttpRequest();
      xhttp.open('GET', window.location.href, true);
      xhttp.send();
      for (square of arr) {
        if (square != '') {
          document.getElementsByClassName('col glow ' + square)[0].style.backgroundColor = 'rgba(100, 149, 237, 0.5)';
        }
      }
    }

    var unhighlightLegalSquares = function(arr) {
      validMoves = null;
      for (square of arr) {
        document.getElementsByClassName('col glow ' + square)[0].style.backgroundColor = 'rgba(100, 149, 237, 0)';
      }
    }

    var highlightKing = function(square) {
      if (square != "") {
        document.getElementsByClassName('col glow ' + square)[0].style.backgroundColor = 'rgba(205, 92, 92, 0.5)';
      }
    }

    var unhighlightKing = function(square) {
      if (square != "") {
        document.getElementsByClassName('col glow ' + square)[0].style.backgroundColor = 'rgba(205, 92, 92, 0)';
      }
    }

    function showTrivia(questionObj) {
      triviaActive = true;

      const overlay = document.getElementById("triviaOverlay");
      const qEl = document.getElementById("triviaQuestion");
      const answersEl = document.getElementById("triviaAnswers");

      overlay.style.display = "flex";  // show overlay
      qEl.innerText = questionObj.question;
      answersEl.innerHTML = "";

      questionObj.answers.forEach((ans, idx) => {
        const btn = document.createElement("button");
        btn.innerText = ans;
        btn.style.display = "block";
        btn.style.margin = "8px auto";
        btn.style.padding = "8px 16px";

        btn.onclick = function () {
          triviaActive = false;
          overlay.style.display = "none";
          const correct = (idx === questionObj.correct);
          console.log("Trivia answered:", correct ? "correct" : "incorrect");
        };

        answersEl.appendChild(btn);
      });
    }

  </script>
</body>

</html>
