<!DOCTYPE html>

<!--
Joyce Lin, Evan Khosh, Sean Zheng, Zixi Qiao
PIES
SoftDev
P01 -- ArRESTed Development
TBD
-->

<html>

<head>
  <title> </title>

  <!-- CUSTOM CSS -->
  <link rel="stylesheet"
    type="text/css"
    href="/static/css/style.css">

  <!-- BOOTSTRAP CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
    crossorigin="anonymous">

  <style>
    p {
      font-family: font;
    }
  </style>

</head>

<body>
  <div style="margin-top:15%;background-color:yellow" class="container">
    <div style="background-color:green" class="container">
      <p> this is the menu </p>
    </div>
    <div style="background-color:blue" class="container">
      <p>aa</p>
    </div>
    <div style="background-color:red" class="container">
      <p>aa</p>
    </div>
  </div>
  <!-- BOOTSTRAP JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"> </script>

</body>

</html>
